@import "common.less";              // 全局公共方法
@import "iscroll.less";             // 轮播图
@import "iconfont.less";             // 自定义图标


@main-color:#33b5e5;

body{.p-b(40px); height: 100%; overflow-y: visible;}
.copyright{ .p(10px 0); .w(100%); .t-c; display: block; .l(24px);}


/*
 * 首页
 */
#home-fault{ .m-t(10px);
  .aui-list-view{ background-color: transparent;}
  .link-wrap{ .bg-c(#fff);display: block; .m; .p-l;
    .p-b(15px);
  }
  .aui-iconfont{ .size(40px); }
  .iconfont{ .size(40px); }
  .img-wrap{
    background-color: #eee;
    display: inline-block;
    width: 80px;
    height: 80px;
    border-radius: 80px;
    padding-top: 10px;
  }
  .aui-badge{ top: 18px; right: 10px;}
}

#task-list{
  .aui-list-view{ background-color: transparent;}
  .aui-list-view .aui-img-object{ width: 80px; height: 80px; line-height: 80px;}
  .aui-list-view-cell{ .m-t(15px); .bg-c(#fff);}
  .aui-list-view-cell:after{ .b-b(none);}
  .aui-list-view:after{ .b-t(none);}
}

/*
  全局共用区域
 */
.aui-color{
  color: @main-color;
  .aui-tab-nav li.active{ color: @main-color; .b-b(1px solid @main-color); font-weight: 600;}
  .aui-tab-nav .active a{ color: @main-color;}
  .aui-tab-nav a{ color: #666666;}
  .aui-tab-nav li{ .b-r(1px solid #eee);}
  .aui-tab-nav li:last-child{ .b-r(none); }
}

.blank-text{ .h-l(150px); .t-c; .size(18px); color: #777; }

.aui-btn-color{ .bg-c(@main-color); color: #fff; border:none;}
.aui-btn-sm{.size(12px); .p(6px 10px);}

.aui-bg-color{.bg-c(@main-color);}
.aui-size-24{ .size(24px);}
.aui-size-22{ .size(22px);}
.aui-size-20{ .size(20px);}
.aui-size-18{ .size(18px);}
.aui-size-16{ .size(16px);}
.aui-size-14{ .size(14px);}