@charset "utf-8";
/*

	@arguments :  就是捕捉用户所有传入的参数，然后拼接
*/
/********  圆角  ***************/
/********* 阴影 *****
.box-shadow(@style,@c) when ( iscolor(@c) ){
	box-shadow:@style @c;
	-webkit-box-shadow:@style @c;
	-moz-box-shadow:@style @c;
}
**********/
/********   省略号  ********/
/**********  渐变 ***********/
/***********  字体  ************/
/***********  图标 url *********/
/*********** 颜色常量  ***************/
/*

lighten(@color, 10%);     // return a color which is 10% *lighter* than @color,	较明亮些
darken(@color, 10%);      // return a color which is 10% *darker* than @color	较暗些
saturate(@color, 10%);    // return a color 10% *more* saturated than @color	饱和度高些
desaturate(@color, 10%);  // return a color 10% *less* saturated than @color	饱和度低些

fadein(@color, 10%);      // return a color 10% *less* transparent than @color	透明些
fadeout(@color, 10%);     // return a color 10% *more* transparent than @color	不透明些
fade(@color, 50%);        // return @color with 50% transparency				50% 透明度

*/
/*iscroll*/
.banner {
  width: 100%;
  margin: 0 auto;
  padding: 0;
  background-color: #151515;
}
#wrapper {
  margin: 0;
  width: 100%;
  height: auto;
  float: left;
  position: relative;
  /* On older OS versions "position" and "z-index" must be defined, */
  z-index: 1;
  /* it seems that recent webkit is less picky and works anyway. */
  overflow: hidden;
}
#scroller {
  height: auto;
  float: left;
  padding: 0;
}
#scroller ul {
  list-style: none;
  display: block;
  float: left;
  width: 100%;
  height: auto;
  padding: 0;
  margin: 0;
  text-align: left;
}
#scroller li {
  display: block;
  float: left;
  width: auto;
  height: auto;
  text-align: center;
  font-size: 0px;
  padding: 0;
  position: relative;
}
#scroller li a {
  display: block;
  padding: 0;
  margin: 0;
}
#scroller li p {
  position: absolute;
  z-index: 2;
  display: block;
  width: 100%;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  color: #F4F4F4;
  font-size: 14px;
  text-indent: 55px;
  line-height: 24px;
  text-align: left;
  text-indent: 10px;
  text-overflow: ellipsis;
  white-space: nowrap;
  padding: 0;
  margin: 0;
}
#nav {
  float: right;
  margin-top: -15px;
  padding: 0;
  position: relative;
  width: auto;
  z-index: 3;
}
#prev,
#next {
  float: left;
  font-weight: bold;
  font-size: 14px;
  padding: 5px 0;
  width: 80px;
  display: none;
}
#next {
  float: right;
  text-align: right;
}
#indicator > li {
  display: block;
  float: left;
  list-style: none;
  padding: 0;
  margin: 0;
}
#indicator {
  display: block;
  margin: 0;
  padding: 0;
  width: auto;
}
#indicator > li {
  text-indent: -9999em;
  width: 8px;
  height: 8px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  background: #888;
  overflow: hidden;
  margin-right: 4px;
}
#indicator > li.active {
  background: #DDDDDD;
}
#indicator > li:last-child {
  margin: 0 8px 0 0;
}
/***********   左下角导航菜单  ******************/
body {
  margin-bottom: 60px !important;
}
ul,
li {
  list-style: none;
  margin: 0;
  padding: 0;
}
#plug-wrap {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0);
  z-index: 800;
  transition: all 100ms ease-out;
  -webkit-transition: all 100ms ease-out;
}
.top_bar {
  position: fixed;
  bottom: 0;
  left: 0px;
  z-index: 900;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  font-family: Helvetica, Tahoma, Arial, Microsoft YaHei, sans-serif;
}
.plug-menu {
  -webkit-appearance: button;
  display: inline-block;
  width: 36px;
  height: 36px;
  border-radius: 36px;
  position: absolute;
  bottom: 17px;
  left: 17px;
  z-index: 999;
  box-shadow: 0 0 0 4px #ffffff, 0 2px 5px 4px rgba(0, 0, 0, 0.25);
  background-color: #B70000;
  -webkit-transition: -webkit-transform 200ms;
  -webkit-transform: rotate(1deg);
  color: #fff;
  background-image: url('plug.png');
  background-repeat: no-repeat;
  -webkit-background-size: 80% auto;
  background-size: 80% auto;
  background-position: center center;
}
.plug-menu:before {
  font-size: 20px;
  margin: 9px 0 0 9px;
}
.plug-menu:checked {
  -webkit-transform: rotate(135deg);
}
.top_menu {
  margin-left: -45px;
}
.top_menu > li {
  min-width: 86px;
  padding: 0 10px;
  height: 32px;
  border-radius: 32px;
  box-shadow: 0 0 0 3px #ffffff, 0 2px 5px 3px rgba(0, 0, 0, 0.25);
  background: #1AB8C5;
  margin-bottom: 23px;
  margin-left: 23px;
  z-index: 900;
  transition: all 200ms ease-out;
  -webkit-transition: all 200ms ease-out;
}
.top_menu > li:last-child {
  margin-bottom: 80px;
}
.top_menu > li a {
  color: #fff;
  font-size: 20px;
  display: block;
  height: 100%;
  line-height: 33px;
  text-indent: 26px;
  text-decoration: none;
  position: relative;
  font-size: 16px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.top_menu > li a img {
  display: block;
  width: 24px;
  height: 24px;
  text-indent: -999px;
  position: absolute;
  top: 50%;
  left: 10px;
  margin-top: -13px;
  margin-left: -12px;
}
.top_menu > li.on:nth-of-type(1) {
  -webkit-transform: translate(45px, 0) rotate(0deg);
  transition: all 700ms ease-out;
  -webkit-transition: all 700ms ease-out;
}
.top_menu > li.on:nth-of-type(2) {
  -webkit-transform: translate(45px, 0) rotate(0deg);
  transition: all 600ms ease-out;
  -webkit-transition: all 600ms ease-out;
}
.top_menu > li.on:nth-of-type(3) {
  -webkit-transform: translate(45px, 0) rotate(0deg);
  transition: all 500ms ease-out;
  -webkit-transition: all 500ms ease-out;
}
.top_menu > li.on:nth-of-type(4) {
  -webkit-transform: translate(45px, 0) rotate(0deg);
  transition: all 400ms ease-out;
  -webkit-transition: all 400ms ease-out;
}
.top_menu > li.on:nth-of-type(5) {
  -webkit-transform: translate(45px, 0) rotate(0deg);
  transition: all 300ms ease-out;
  -webkit-transition: all 300ms ease-out;
}
.top_menu > li.on:nth-of-type(6) {
  -webkit-transform: translate(45px, 0) rotate(0deg);
  transition: all 200ms ease-out;
  -webkit-transition: all 200ms ease-out;
}
/**/
.top_menu > li.out:nth-of-type(1) {
  -webkit-transform: translate(45px, 280px) rotate(0deg);
  transition: all 600ms ease-out;
  -webkit-transition: all 600ms ease-out;
}
.top_menu > li.out:nth-of-type(2) {
  -webkit-transform: translate(45px, 235px) rotate(0deg);
  transition: all 500ms ease-out;
  -webkit-transition: all 500ms ease-out;
}
.top_menu > li.out:nth-of-type(3) {
  -webkit-transform: translate(45px, 190px) rotate(0deg);
  transition: all 400ms ease-out;
  -webkit-transition: all 400ms ease-out;
}
.top_menu > li.out:nth-of-type(4) {
  -webkit-transform: translate(45px, 145px) rotate(0deg);
  transition: all 300ms ease-out;
  -webkit-transition: all 300ms ease-out;
}
.top_menu > li.out:nth-of-type(5) {
  -webkit-transform: translate(45px, 100px) rotate(0deg);
  transition: all 200ms ease-out;
  -webkit-transition: all 200ms ease-out;
}
.top_menu > li.out:nth-of-type(6) {
  -webkit-transform: translate(45px, 55px) rotate(0deg);
  transition: all 100ms ease-out;
  -webkit-transition: all 100ms ease-out;
}
.top_menu > li.out {
  width: 20px;
  height: 20px;
  min-width: 20px;
  border-radius: 20px;
  padding: 0;
  opacity: 0;
}
.top_menu > li.out a {
  display: none;
}
#sharemcover {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  display: none;
  z-index: 20000;
}
#sharemcover img {
  position: fixed;
  right: 18px;
  top: 5px;
  width: 260px;
  height: 180px;
  z-index: 20001;
  border: 0;
}
