.mod_navbar {
    border-bottom: 1px solid #e1e1e1;
    -webkit-box-shadow: 1px 0 3px #eee,inset 0 0 3px #fff;
    box-shadow: 1px 0 3px #eee,inset 0 0 3px #fff;
    padding: 0 15px;
    position: absolute;
    top: 0px;
    left:0;
    width: 100%;
    background-color: #f9f9f7;
    z-index: 3;
    height: 60px;

}
.no-padding{
    padding: 0;
    padding-left: 15px;
    padding-bottom: 15px;
}
.row-box{
    box-shadow: 0 0 3px #eee,inset 0 0 3px #fff;
    border: solid 1px #e1e1e1;
    padding: 15px 15px 30px 15px;
    background-color: #fbfbfb;
    position: relative;
}
.row-box .box-panel-body{
    height: 180px;
    overflow: hidden;
}
.row-box .box-panel-header {
    border-bottom: 1px solid #e1e1e1;
    margin-bottom: 15px;
    display: block;
}
.row-box .box-panel-header h4 {
    color: #646b75;
    font-size: 18px;
    margin-bottom: 15px;
    margin-top: 0;
}
h4{ margin: 0}
.empty-panel {
    margin: 0 auto;
    text-align: center;
    text-shadow: 0 1px 0 #fff,0 -1px 0 #f2f2ea;
    color: #cccccc;
    font-size: 18px;
    height: 200px;
    line-height: 200px;
}
.icon{ margin-right: 5px;}
ul,li{
    list-style: none; margin: 0; padding: 0;
}
.box-list-li{
    height: 30px; line-height: 30px;
}
.m-name{  color: #333333; width: 50%; display:inline-block; float: left; text-overflow:ellipsis; overflow:hidden; white-space:nowrap; }
.m-tips{ color: #999999; width: 33%; display: inline-block;
    float: left;}

.num-alert{color: #f7af49; font-size: 16px; width: 15%;}

.fault-list-ul{
    overflow: hidden;
}
.fault-list-li{
    height: 60px;
    padding-top:5px;
    border-bottom: 1px dotted #cccccc;
}
.fault-data{ width: 40%; float: left; position: relative;}
.fault-btn{ width: 20%; float: right; text-align: right; margin-top: 8px;}
.fault-data span { color:#AAAAAA; height: 20px; line-height: 20px; overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap; width: 100%;}
.fault-data h4{ color: #333333; height: 30px; line-height: 30px;overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;}
.cover-img{
    width: 50px;
    height: 50px;
    margin-right: 10px;
    float: left;
}
.fault-time{
    color: #AAAAAA; font-size: 12px; font-weight: 500;
}
a{ cursor: pointer;}
.high-show{ color: #f7af49; font-weight: 400;}


.order-list-li{ width: 100%;  float: left; display: block; overflow: hidden; border-bottom: 1px dotted #cccccc; padding: 3px 0;}
ul li:last-child{border-bottom: none;}
.order-list-m{ width: 25%;float: left;}
.order-list{ width: 30%;float: left;}
.order-address{ width: 30%;float: left;}
.order-btn{width: 15%; float: left; margin-top: 20px;}

.order-list p{ height: 20px; line-height: 20px; margin: 0; padding:0;}
.order-list-m li{
    height: 50px; width: 180px; border-bottom: 1px solid #cccccc; padding: 7px 0; margin-bottom: 3px;
}
.order-list-m img{
    height: 40px; width: 40px; margin-right: 10px;
    float: left;
}
.order-list-m b{ color: #b10000; float: right; font-weight: 500;}
.order-list li{
    height: 24px;
    line-height: 24px;
}
.order-name{ overflow: hidden; width: 130px; height: 20px;  float: left;}
.order-error{
    display: inline-block;
    color: #ff0000;
}
.order-address li{
    line-height: 24px;
}
.order-remark{
    color: #1e90ff;
}


.part-list{ width: 25%;float: left;}
.part-list li{
    height: 50px; width: 180px; border-bottom: 1px solid #cccccc; padding: 7px 0; margin-bottom: 3px;
}
.part-data{ width: 30%; float: left; position: relative;}
.part-btn{ width: 15%; float: right; text-align: right; margin-top: 8px;}
.part-data span { color:#AAAAAA; height: 20px; line-height: 20px; overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap; width: 100%;}
.part-data h4{ color: #333333; height: 30px; line-height: 30px;overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;}
.part-li{
    border-bottom:none !important;
}

.list-more{ position: absolute; bottom: 0px; left: 0; text-align: center; height: 28px;
    width: 100%;  cursor: pointer; color: #999999;
}
.list-all .box-panel-body{
    height: auto;
}

label.BMapLabel{
    background-color: #eb5c67 !important;
    padding: 5px !important;
    color: #fff;
    border-radius: 2px;
    max-width: 200px !important;
}
.map-point-label{
    height: 48px;
}
.map-point-name{
    line-height: 24px;
    display: block;
}
